In [ ]:
#Pandas

In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [ ]:
#Series 
#DataFrames

In [2]:
import numpy as np

In [ ]:
import (lib-name)

In [ ]:
sum | sum

In [ ]:
#creating dataframe from list/tuples

In [3]:
sales_list = [("Name1", 100, 150, 200), ('Name2', 200, 250, 300)]

In [4]:
type(sales_list)

list

In [5]:
labels=['Names', "Value1", "value2", 'value3']

In [8]:
df = pd.DataFrame.from_records(sales_list, columns= labels)

In [9]:
df

   Names  Value1  value2  value3
0  Name1     100     150     200
1  Name2     200     250     300

In [10]:
df['Names']

0    Name1
1    Name2
Name: Names, dtype: object

In [12]:
df[['Names', 'Value1']]

   Names  Value1
0  Name1     100
1  Name2     200

In [ ]:
#creating dataframes from dictionary

In [13]:
sales_dict = {'Names': ["Name1", "Name2","Name3" ], 'Value1':[2,3,4]}

In [14]:
type(sales_dict)

dict

In [15]:
df_dict = pd.DataFrame.from_dict(sales_dict)

In [16]:
df_dict

   Names  Value1
0  Name1       2
1  Name2       3
2  Name3       4

In [18]:
df_dict[:1]

   Names  Value1
0  Name1       2

In [19]:
df_dict['Names']

0    Name1
1    Name2
2    Name3
Name: Names, dtype: object

In [20]:
df_dict[:1]

   Names  Value1
0  Name1       2

In [21]:
df_dict[:2]

   Names  Value1
0  Name1       2
1  Name2       3

In [22]:
pd.Series([0.25, 0.5, 0.75])

0    0.25
1    0.50
2    0.75
dtype: float64

In [23]:
df1=pd.Series([0.25, 0.5, 0.75])

In [24]:
type(df1)

pandas.core.series.Series

In [25]:
df2=df_dict['Names']
type(df2)

pandas.core.series.Series

In [26]:
type(df_dict)

pandas.core.frame.DataFrame

In [27]:
df1.values

array([ 0.25,  0.5 ,  0.75])

In [28]:
df1.values

array([ 0.25,  0.5 ,  0.75])

In [29]:
df1.index

RangeIndex(start=0, stop=3, step=1)

In [30]:
df1[1]

0.5

In [31]:
df1[:2]

0    0.25
1    0.50
dtype: float64

In [32]:
df1[:3]

0    0.25
1    0.50
2    0.75
dtype: float64

In [33]:
#read csv files

In [39]:
data = pd.read_csv('Data/uk-500.csv')

In [38]:
#df = pd.read_csv('C:/Pandas/data/uk-500.csv')

In [40]:
data

,FirstName,LastName,Company,Address,City,County,PostCode,Telephone1,Telephone2,Email,Web
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk
5,Eric,Rampy,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
6,Marg,Grasmick,Wrangle Hill Auto Auct & Slvg,7457 Cowl St #70,Bargate Ward,Southampton,SO14 3TY,01865-582516,01362-620532,marg@hotmail.com,http://www.wranglehillautoauctslvg.co.uk
7,Laquita,Hisaw,In Communications Inc,20 Gloucester Pl #96,Chirton Ward,Tyne & Wear,NE29 7AD,01746-394243,01590-982428,laquita@yahoo.com,http://www.incommunicationsinc.co.uk
8,Lura,Manzella,Bizerba Usa Inc,929 Augustine St,Staple Hill Ward,South Gloucestershire,BS16 4LL,01907-538509,01340-713951,lura@hotmail.com,http://www.bizerbausainc.co.uk
9,Yuette,Klapec,Max Video,45 Bradfield St #166,Parwich,Derbyshire,DE6 1QN,01903-649460,01933-512513,yuette.klapec@klapec.co.uk,http://www.maxvideo.co.uk
10,Fernanda,Writer,K & R Associates Inc,620 Northampton St,Wilmington,Kent,DA2 7PP,01630-202053,01687-879391,fernanda@writer.co.uk,http://www.krassociatesinc.co.uk
11,Charlesetta,Erm,"Cain, John M Esq",5 Hygeia St,Loundsley Green Ward,Derbyshire,S40 4LY,01276-816806,01517-624517,charlesetta_erm@gmail.com,http://www.cainjohnmesq.co.uk
12,Corrinne,Jaret,Sound Vision Corp,2150 Morley St,Dee Ward,Dumfries and Galloway,DG8 7DE,01625-932209,01642-322954,corrinne_jaret@gmail.com,http://www.soundvisioncorp.co.uk
13,Niesha,Bruch,Rowley/hansell Petetin,24 Bolton St,"Broxburn, Uphall and Winchburg",West Lothian,EH52 5TL,01874-856950,01342-793603,niesha.bruch@yahoo.com,http://www.rowleyhansellpetetin.co.uk
14,Rueben,Gastellum,Industrial Engineering Assocs,4 Forrest St,Weston-Super-Mare,North Somerset,BS23 3HG,01976-755279,01956-535511,rueben_gastellum@gastellum.co.uk,http://www.industrialengineeringassocs.co.uk
15,Michell,Throssell,Weiss Spirt & Guyer,89 Noon St,Carbrooke,Norfolk,IP25 6JQ,01967-580851,01672-496478,mthrossell@throssell.co.uk,http://www.weissspirtguyer.co.uk
16,Edgar,Kanne,"Crowan, Kenneth W Esq",99 Guthrie St,New Milton,Hampshire,BH25 5DF,01326-532337,01666-638176,edgar.kanne@yahoo.com,http://www.crowankennethwesq.co.uk
17,Dewitt,Julio,Rittenhouse Motor Co,7 Richmond St,Parkham,Devon,EX39 5DJ,01253-528327,01241-964675,dewitt.julio@hotmail.com,http://www.rittenhousemotorco.co.uk
18,Charisse,Spinello,Modern Plastics Corp,9165 Primrose St,Darnall Ward,"Yorkshire, South",S4 7WN,01719-831436,01207-428520,charisse_spinello@spinello.co.uk,http://www.modernplasticscorp.co.uk
19,Mee,Lapinski,Galloway Electric Co Inc,9 Pengwern St,Marldon,Devon,TQ3 1SA,01578-287816,01939-815208,mee.lapinski@yahoo.com,http://www.gallowayelectriccoinc.co.uk
20,Peter,Gutierres,Niagara Custombuilt Mfg Co,4410 Tarlton St,Prestatyn Community,Denbighshire,LL19 9EG,01842-767201,01859-648598,peter_gutierres@yahoo.com,http://www.niagaracustombuiltmfgco.co.uk
21,Octavio,Salvadore,Practical Periphrals,6949 Bourne St,Lye and Stourbridge North Ward,West Midlands,DY5 2QP,01552-709248,01743-139456,octavio.salvadore@yahoo.com,http://www.practicalperiphrals.co.uk
22,Martha,Teplica,"Curtin, Patricia M Esq",148 Rembrandt St,Warlingham,Surrey,CR6 9SW,01677-684257,01583-287367,mteplica@teplica.co.uk,http://www.curtinpatriciamesq.co.uk
23,Tamesha,Veigel,"Wilhelm, James E Jr",2200 Nelson St #58,Newport,Isle of Wight,PO30 5AL,01217-342071,01280-786847,tveigel@veigel.co.uk,http://www.wilhelmjamesejr.co.uk
24,Tess,Sitra,Smart Signs,61 Rossett St,Chichester,West Sussex,PO19 1RH,01473-229124,01848-116775,tess_sitra@hotmail.com,http://www.smartsigns.co.uk
25,Leonard,Kufner,Arctic Star Distributing Inc,41 Canning St,Steornabhagh a Deas Ward,Western Isles,HS1 2PZ,01230-623547,01604-718601,lkufner@kufner.co.uk,http://www.arcticstardistributinginc.co.uk
26,Svetlana,Tauras,"Lensbower, Gregory L Esq",8289 Cadogan St,South Ward,North Eart Lincolnshire,DN33 1AU,01781-827317,01509-121140,svetlana_tauras@tauras.co.uk,http://www.lensbowergregorylesq.co.uk
27,Pok,Molaison,Portal Metal Products,211 Hobart St,Newquay,Cornwall,TR7 1LS,01866-248660,01315-284286,pok@yahoo.com,http://www.portalmetalproducts.co.uk
28,Augustine,Growcock,"Lynema, Cliff Cpa",114 Falkland St #8845,Brimpton,Berkshire,RG7 4RF,01541-802635,01926-108010,augustine.growcock@growcock.co.uk,http://www.lynemacliffcpa.co.uk
29,Karma,Quarto,J C S Machinery,1 Birkett St,Shard End Ward,West Midlands,B33 0NH,01857-864722,01307-667811,kquarto@gmail.com,http://www.jcsmachinery.co.uk
...,...,...,...,...,...,...,...,...,...,...,...
470,Tony,Diazdeleon,Dilling Harris Inc,529 Llanrwst St,Southam,Gloucestershire,GL52 8TW,01765-102036,01877-593275,tony@gmail.com,http://www.dillingharrisinc.co.uk
471,Val,Villot,Horizon Air Magazine,1980 Tynemouth St,Almond Ward,West Lothian,EH52 5PY,01375-870188,01602-987840,val@yahoo.com,http://www.horizonairmagazine.co.uk
472,Mel,Picciuto,Avante Limited,8598 Rumney Rd,Hylands Ward,Essex,RM11 1QL,01885-270480,01268-443299,mel.picciuto@gmail.com,http://www.avantelimited.co.uk
473,Isabella,Piatkowski,"Miller, William E Iii",9283 Ruth St #81,Dormers Wells Ward,Greater London,UB1 2FH,01979-186995,01998-980054,isabella_piatkowski@piatkowski.co.uk,http://www.millerwilliameiii.co.uk
474,Erasmo,Rhea,Martin Morrissey,5544 Sutherland St,Mortehoe,Devon,EX34 7DQ,01507-386397,01899-316385,erasmo_rhea@hotmail.com,http://www.martinmorrissey.co.uk
475,Ivory,Lohrenz,Auto Body Color,9 Jackson St,Parr Ward,Merseyside,WA9 3QW,01876-642683,01651-132519,ivory@hotmail.com,http://www.autobodycolor.co.uk
476,Nikita,Walka,"Fred, Anthony Esq",3612 Bixteth St,Hucknall North Ward,Nottinghamshire,NG15 8DD,01282-123434,01724-455145,nwalka@hotmail.com,http://www.fredanthonyesq.co.uk
477,Aleta,Ligons,Advantage Bookkeeping,4545 Victoria Rd,Kilbirnie and Beith Ward,North Ayrshire,KA15 1AT,01952-535977,01715-637895,aleta_ligons@hotmail.com,http://www.advantagebookkeeping.co.uk
478,Owen,Jentzen,Capital Fasteners Inc,5 Hampden St,Liscard Ward,Merseyside,CH45 4RN,01467-142439,01917-137038,owen_jentzen@jentzen.co.uk,http://www.capitalfastenersinc.co.uk
479,Pauline,Fling,Cumberland Vacuum Products,6452 Pilgrim St #5,Seven Sisters Ward,Greater London,N15 6TH,01990-476494,01458-113457,pfling@fling.co.uk,http://www.cumberlandvacuumproducts.co.uk
480,Tijuana,Machalek,"Schwartz, Thomas E Esq",1149 Highfield Rd #996,Fareham South Ward,Hampshire,PO14 9JJ,01242-532395,01336-686264,tijuana.machalek@gmail.com,http://www.schwartzthomaseesq.co.uk
481,Ahmad,Alsaqri,Alliance Construction Co Inc,21 Pickwick St,Sutton cum Duckmanton,Derbyshire,S44 5DS,01567-555570,01852-550588,ahmad.alsaqri@yahoo.com,http://www.allianceconstructioncoinc.co.uk
482,Jamika,Conoly,"Keller, Raymond C",19 Soho St,Whitley Ward,Berkshire,RG1 9XH,01726-595316,01597-168997,jamika_conoly@conoly.co.uk,http://www.kellerraymondc.co.uk
483,Derrick,Dolloff,Proto Tek Manufacturing,236 Blantyre Rd,Everton Ward,Merseyside,L6 2EN,01982-734773,01619-554437,derrick_dolloff@gmail.com,http://www.prototekmanufacturing.co.uk
484,Jacquelyne,Reibman,Great Clips For Hair,70 Lilly Rd,Shirley Ward,Greater London,CR0 7PT,01846-581451,01850-754504,jacquelyne_reibman@yahoo.com,http://www.greatclipsforhair.co.uk
485,Zachary,Freeburger,Country Kitchen,58 Gloucester Rd,Holbrook,Derbyshire,DE56 0TX,01888-641397,01240-433924,zachary.freeburger@freeburger.co.uk,http://www.countrykitchen.co.uk
486,Sophia,Gaucher,T C E Systems Inc,88 Upper Harrington St,North East Ward,North Lanarkshire,G69 8EL,01504-539114,01254-919378,sophia.gaucher@hotmail.com,http://www.tcesystemsinc.co.uk
487,Isabelle,Kono,Rock Springs Petroleum Equip,4920 Fazakerley Rd,Plymstock Dunstone Ward,Devon,PL9 8RD,01552-682601,01953-816728,isabelle.kono@yahoo.com,http://www.rockspringspetroleumequip.co.uk
488,Ronnie,Brigman,Howard Johnson,6 Morley St,Batchwood Ward,Hertfordshire,AL3 5JN,01943-754681,01972-686199,ronnie@brigman.co.uk,http://www.howardjohnson.co.uk
489,Krystina,Schlabaugh,Harris Oldsmobile Inc,7316 Friar St,Salvington Ward,West Sussex,BN13 3FL,01441-846477,01332-799979,kschlabaugh@schlabaugh.co.uk,http://www.harrisoldsmobileinc.co.uk
490,Rosita,Ausdemore,"Jurdem, Scott Esq",8 Heathfield St #657,Hailsham,East Sussex,BN27 1AJ,01273-236188,01997-765432,rausdemore@hotmail.com,http://www.jurdemscottesq.co.uk
491,Huey,Stancil,Lindner Funds,275 Peel Sq,Park Ward,North Eart Lincolnshire,DN32 0PT,01502-139578,01468-195646,hstancil@hotmail.com,http://www.lindnerfunds.co.uk
492,Elbert,Fiorino,"Donald, G Nelson Esq",726 Westmoreland Place,Ballochmyle Ward,East Ayrshire,KA5 6EL,01724-467889,01992-537553,elbert@hotmail.com,http://www.donaldgnelsonesq.co.uk
493,Pura,Manciel,Cia Inspection,7 Water St,Priory Heath Ward,Suffolk,IP3 9RB,01853-412588,01386-437186,pura.manciel@yahoo.com,http://www.ciainspection.co.uk
494,Alesia,Katie,Nelsons Trmt & Pest Cntrl Co,4 Covent Garden,Farnworth Ward,Greater Manchester,BL4 7AF,01333-436799,01240-614527,alesia_katie@gmail.com,http://www.nelsonstrmtpestcntrlco.co.uk
495,Avery,Veit,Plaza Gourmet Delicatessen,9166 Devon St #905,Knightsbridge and Belgravia Wa,Greater London,SW1W 8JY,01748-625058,01369-185737,avery@veit.co.uk,http://www.plazagourmetdelicatessen.co.uk
496,Reid,Euresti,"Fitzgerald, Edward J",70 Foster St,Inverness Ness-Side Ward,Highland,IV2 6WT,01916-963261,01370-319414,reuresti@euresti.co.uk,http://www.fitzgeraldedwardj.co.uk
497,Charlette,Brenning,Furey & Associates,714 Fonthill Rd,Darton West Ward,South Yorkshire,S75 5EJ,01888-152110,01301-312487,cbrenning@brenning.co.uk,http://www.fureyassociates.co.uk
498,Celestina,Keeny,Bfg Federal Credit Union,9 Milton St,Consett North ED,County Durham,DH8 5LP,01877-379681,01600-463475,celestina_keeny@gmail.com,http://www.bfgfederalcreditunion.co.uk
499,Mi,Richan,Nelson Wright Haworth Golf Crs,6 Norwood Grove,Tanworth-in-Arden,Warwickshire,B94 5RZ,01451-785624,01202-738406,mi@hotmail.com,http://www.nelsonwrighthaworthgolfcrs.co.uk

In [55]:
data.head()

,FirstName,LastName,Company,Address,City,County,PostCode,Telephone1,Telephone2,Email,Web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,918
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,108
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,462
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,503
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,1000

In [ ]:
import os
os.chdir('')

In [42]:
import os
print(os.getcwd())

C:\Pandas

In [43]:
data.columns

Index(['FirstName', 'LastName', 'Company', 'Address', 'City', 'County',
       'PostCode', 'Telephone1', 'Telephone2', 'Email', 'Web'],
      dtype='object')

In [45]:
import random

In [46]:
data['id'] = [random.randint(0, 1000) for x in range(data.shape[0])]

In [47]:
data.columns

Index(['FirstName', 'LastName', 'Company', 'Address', 'City', 'County',
       'PostCode', 'Telephone1', 'Telephone2', 'Email', 'Web', 'id'],
      dtype='object')

In [ ]:
#Row indexing

In [48]:
data.iloc[0]
#data.loc

FirstName                                  Aleshia
LastName                                Tomkiewicz
Company                    Alan D Rosenburg Cpa Pc
Address                               14 Taylor St
City                             St. Stephens Ward
County                                        Kent
PostCode                                   CT2 7PP
Telephone1                            01835-703597
Telephone2                            01944-369967
Email                      atomkiewicz@hotmail.com
Web           http://www.alandrosenburgcpapc.co.uk
id                                             918
Name: 0, dtype: object

In [49]:
data.iloc[1]

FirstName                                  Evan
LastName                              Zigomalas
Company                      Cap Gemini America
Address                             5 Binney St
City                                 Abbey Ward
County                          Buckinghamshire
PostCode                               HP11 2AX
Telephone1                         01937-864715
Telephone2                         01714-737668
Email                  evan.zigomalas@gmail.com
Web           http://www.capgeminiamerica.co.uk
id                                          108
Name: 1, dtype: object

In [50]:
data.iloc[-1]

FirstName                                              Mi
LastName                                           Richan
Company                    Nelson Wright Haworth Golf Crs
Address                                   6 Norwood Grove
City                                    Tanworth-in-Arden
County                                       Warwickshire
PostCode                                          B94 5RZ
Telephone1                                   01451-785624
Telephone2                                   01202-738406
Email                                      mi@hotmail.com
Web           http://www.nelsonwrighthaworthgolfcrs.co.uk
id                                                    738
Name: 499, dtype: object

In [ ]:
#column indexing

In [51]:
data.iloc[:, 0]

0          Aleshia
1             Evan
2           France
3          Ulysses
4           Tyisha
5             Eric
6             Marg
7          Laquita
8             Lura
9           Yuette
10        Fernanda
11     Charlesetta
12        Corrinne
13          Niesha
14          Rueben
15         Michell
16           Edgar
17          Dewitt
18        Charisse
19             Mee
20           Peter
21         Octavio
22          Martha
23         Tamesha
24            Tess
25         Leonard
26        Svetlana
27             Pok
28       Augustine
29           Karma
          ...
470           Tony
471            Val
472            Mel
473       Isabella
474         Erasmo
475          Ivory
476         Nikita
477          Aleta
478           Owen
479        Pauline
480        Tijuana
481          Ahmad
482         Jamika
483        Derrick
484     Jacquelyne
485        Zachary
486         Sophia
487       Isabelle
488         Ronnie
489       Krystina
490         Rosita
491           Huey
492         Elbert
493           Pura
494         Alesia
495          Avery
496           Reid
497      Charlette
498      Celestina
499             Mi
Name: FirstName, Length: 500, dtype: object

In [52]:
data.iloc[:, 1]

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: LastName, Length: 500, dtype: object

In [53]:
data.iloc[:, -1]

0       918
1       108
2       462
3       503
4      1000
5       129
6       964
7       491
8       726
9       756
10      587
11      995
12      608
13      399
14      465
15      166
16      206
17      968
18      501
19      170
20      912
21      146
22      690
23      857
24      432
25      131
26      592
27      112
28      926
29      886
       ...
470     787
471     686
472     259
473     309
474     331
475     450
476     380
477     836
478     708
479     867
480     588
481      11
482     650
483      83
484     507
485     937
486      23
487     363
488      90
489     291
490     458
491     643
492     347
493     676
494      60
495     481
496      64
497     539
498     301
499     738
Name: id, Length: 500, dtype: int64

In [56]:
#multiple rows and columns
data.iloc[0:5]

,FirstName,LastName,Company,Address,City,County,PostCode,Telephone1,Telephone2,Email,Web,id
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk,918
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk,108
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk,462
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk,503
4,Tyisha,Veness,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk,1000

In [57]:
data.iloc[:,1]

0      Tomkiewicz
1       Zigomalas
2         Andrade
3       Mcwalters
4          Veness
5           Rampy
6        Grasmick
7           Hisaw
8        Manzella
9          Klapec
10         Writer
11            Erm
12          Jaret
13          Bruch
14      Gastellum
15      Throssell
16          Kanne
17          Julio
18       Spinello
19       Lapinski
20      Gutierres
21      Salvadore
22        Teplica
23         Veigel
24          Sitra
25         Kufner
26         Tauras
27       Molaison
28       Growcock
29         Quarto
          ...
470    Diazdeleon
471        Villot
472      Picciuto
473    Piatkowski
474          Rhea
475       Lohrenz
476         Walka
477        Ligons
478       Jentzen
479         Fling
480      Machalek
481       Alsaqri
482        Conoly
483       Dolloff
484       Reibman
485    Freeburger
486       Gaucher
487          Kono
488       Brigman
489    Schlabaugh
490     Ausdemore
491       Stancil
492       Fiorino
493       Manciel
494         Katie
495          Veit
496       Euresti
497      Brenning
498         Keeny
499        Richan
Name: LastName, Length: 500, dtype: object

In [58]:
data.iloc[:,0:2]

       FirstName    LastName
0        Aleshia  Tomkiewicz
1           Evan   Zigomalas
2         France     Andrade
3        Ulysses   Mcwalters
4         Tyisha      Veness
5           Eric       Rampy
6           Marg    Grasmick
7        Laquita       Hisaw
8           Lura    Manzella
9         Yuette      Klapec
10      Fernanda      Writer
11   Charlesetta         Erm
12      Corrinne       Jaret
13        Niesha       Bruch
14        Rueben   Gastellum
15       Michell   Throssell
16         Edgar       Kanne
17        Dewitt       Julio
18      Charisse    Spinello
19           Mee    Lapinski
20         Peter   Gutierres
21       Octavio   Salvadore
22        Martha     Teplica
23       Tamesha      Veigel
24          Tess       Sitra
25       Leonard      Kufner
26      Svetlana      Tauras
27           Pok    Molaison
28     Augustine    Growcock
29         Karma      Quarto
..           ...         ...
470         Tony  Diazdeleon
471          Val      Villot
472          Mel    Picciuto
473     Isabella  Piatkowski
474       Erasmo        Rhea
475        Ivory     Lohrenz
476       Nikita       Walka
477        Aleta      Ligons
478         Owen     Jentzen
479      Pauline       Fling
480      Tijuana    Machalek
481        Ahmad     Alsaqri
482       Jamika      Conoly
483      Derrick     Dolloff
484   Jacquelyne     Reibman
485      Zachary  Freeburger
486       Sophia     Gaucher
487     Isabelle        Kono
488       Ronnie     Brigman
489     Krystina  Schlabaugh
490       Rosita   Ausdemore
491         Huey     Stancil
492       Elbert     Fiorino
493         Pura     Manciel
494       Alesia       Katie
495        Avery        Veit
496         Reid     Euresti
497    Charlette    Brenning
498    Celestina       Keeny
499           Mi      Richan

[500 rows x 2 columns]

In [59]:
data.iloc[:,3:5]

                    Address                            City
0              14 Taylor St               St. Stephens Ward
1               5 Binney St                      Abbey Ward
2              8 Moor Place  East Southbourne and Tuckton W
3             505 Exeter Rd              Hawerby cum Beesby
4         5396 Forth Street      Greets Green and Lyng Ward
5              9472 Lind St                      Desborough
6          7457 Cowl St #70                    Bargate Ward
7      20 Gloucester Pl #96                    Chirton Ward
8          929 Augustine St                Staple Hill Ward
9      45 Bradfield St #166                         Parwich
10       620 Northampton St                      Wilmington
11              5 Hygeia St            Loundsley Green Ward
12           2150 Morley St                        Dee Ward
13             24 Bolton St  Broxburn, Uphall and Winchburg
14             4 Forrest St               Weston-Super-Mare
15               89 Noon St                       Carbrooke
16            99 Guthrie St                      New Milton
17            7 Richmond St                         Parkham
18         9165 Primrose St                    Darnall Ward
19            9 Pengwern St                         Marldon
20          4410 Tarlton St             Prestatyn Community
21           6949 Bourne St  Lye and Stourbridge North Ward
22         148 Rembrandt St                      Warlingham
23       2200 Nelson St #58                         Newport
24            61 Rossett St                      Chichester
25            41 Canning St        Steornabhagh a Deas Ward
26          8289 Cadogan St                      South Ward
27            211 Hobart St                         Newquay
28    114 Falkland St #8845                        Brimpton
29             1 Birkett St                  Shard End Ward
..                      ...                             ...
470         529 Llanrwst St                         Southam
471       1980 Tynemouth St                     Almond Ward
472          8598 Rumney Rd                    Hylands Ward
473        9283 Ruth St #81              Dormers Wells Ward
474      5544 Sutherland St                        Mortehoe
475            9 Jackson St                       Parr Ward
476         3612 Bixteth St             Hucknall North Ward
477        4545 Victoria Rd        Kilbirnie and Beith Ward
478            5 Hampden St                    Liscard Ward
479      6452 Pilgrim St #5              Seven Sisters Ward
480  1149 Highfield Rd #996              Fareham South Ward
481          21 Pickwick St           Sutton cum Duckmanton
482              19 Soho St                    Whitley Ward
483         236 Blantyre Rd                    Everton Ward
484             70 Lilly Rd                    Shirley Ward
485        58 Gloucester Rd                        Holbrook
486  88 Upper Harrington St                 North East Ward
487      4920 Fazakerley Rd         Plymstock Dunstone Ward
488             6 Morley St                  Batchwood Ward
489           7316 Friar St                 Salvington Ward
490    8 Heathfield St #657                        Hailsham
491             275 Peel Sq                       Park Ward
492  726 Westmoreland Place                Ballochmyle Ward
493              7 Water St               Priory Heath Ward
494         4 Covent Garden                  Farnworth Ward
495      9166 Devon St #905  Knightsbridge and Belgravia Wa
496            70 Foster St        Inverness Ness-Side Ward
497         714 Fonthill Rd                Darton West Ward
498             9 Milton St                Consett North ED
499         6 Norwood Grove               Tanworth-in-Arden

[500 rows x 2 columns]

In [ ]:
#Indexing multiple rows and multiple columns

In [70]:
new = data.iloc[[0,3,4], [0,5,3]]

In [71]:
new

  FirstName         County            Address
0   Aleshia           Kent       14 Taylor St
3   Ulysses   Lincolnshire      505 Exeter Rd
4    Tyisha  West Midlands  5396 Forth Street

In [69]:
data.iloc[0:4, 0:5]

,FirstName,LastName,Company,Address,City
0,Aleshia,Tomkiewicz,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward
1,Evan,Zigomalas,Cap Gemini America,5 Binney St,Abbey Ward
2,France,Andrade,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W
3,Ulysses,Mcwalters,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby

In [72]:
random.randint(0, 1000)

841

In [73]:
random.randint(0, 1000)

388

In [76]:
data = pd.read_csv()
data.shape[0]

(500, 12)

In [77]:
data.shape[0]

500

In [78]:
data.shape[1]

12

In [79]:
data.shape[3]

IndexError: tuple index out of range

In [74]:
random.randint(0, 1000)

278

In [ ]:
data['new_col']=[ifelse(data['Address'] == "T", 1, 0)]